<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>审批请假条页面</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Import style -->
    <link href="https://unpkg.com/element-plus/dist/index.css" rel="stylesheet"/>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="//unpkg.com/element-plus"></script>
</head>
<body>
<div id="app">
    <div>
        <div>请选择你的身份：</div>
        <div>
            <el-select @change="initTasks" id="" name="" v-model="identity">
                <el-option :key="index" :label="iden" :value="iden" v-for="(iden,index) in identities"></el-option>
            </el-select>
            <el-button @click="initTasks" type="primary">刷新一下</el-button>
        </div>

    </div>
    <el-table :data="tasks" border strip>
        <el-table-column label="姓名" prop="name"></el-table-column>
        <el-table-column label="请假天数" prop="days"></el-table-column>
        <el-table-column label="请假原因" prop="reason"></el-table-column>
        <el-table-column lable="操作">
            <template #default="scope">
                <el-button @click="approveOrReject(scope.row.id,true,scope.row.name)" type="primary">批准</el-button>
                <el-button @click="approveOrReject(scope.row.id,false,scope.row.name)" type="danger">拒绝</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
<script>
    Vue.createApp(
        {
            data() {
                return {
                    tasks: [],
                    identities: [
                        'managers'
                    ],
                    identity: ''
                }
            },
            methods: {
                initTasks() {
                    let _this = this;
                    axios.get('/vacation/list?identity=' + this.identity)
                        .then(function (response) {
                            _this.tasks = response.data.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                approveOrReject(taskId, approve, name) {
                    let _this = this;
                    axios.post('/vacation/handler', {taskId: taskId, approve: approve, name: name})
                        .then(function (response) {
                            _this.$message.success("审批成功");
                            _this.initTasks();

                        })
                        .catch(function (error) {
                            _this.$message.error("操作失败");
                            console.log(error);
                        });
                }
            }
        }
    ).use(ElementPlus).mount('#app')
</script>
</body>
</html>